body {
  margin: 0;
  font-family: BarcadeBrawl;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #454545;
}

.tab-label {
  font-family: "BarcadeBrawl" !important;
  align-self: end;
}

@font-face {
  font-family: "BarcadeBrawl";
  src: local("BarcadeBrawl"),
    url(../media/BarcadeBrawlRegular-plYD.ttf) format("truetype");
}
